@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
text-align: center;
font-family: 'Helvetica', sans-serif;
font-weight: regular;
font-size: 14px;
line-height: 1.8;
color: #000000;
}
h1 {
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: 48px;
text-decoration: underline;
}
h2 {
text-align: center;
font-family: 'Helvetica', sans-serif;
font-weight: regular;
font-size: 16px;
color: #000000;
}
a {
    color: hotpink;
    font-weight: bold;
}
a:link {
    text-decoration: none;
}
header {
    background-color:#FFFafa;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color:#000;
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    background-color: #fffafa;
    border: 1px black solid;
    padding: 10px;
}
aside {
    background-color:#FFFAFA;
    border: 1px black solid;
    padding: 10px;
}
article {
    background-color:#FFFAFA;
    border: 1px black solid;
    padding: 10px;

}
#left {
    background-color: #FFFAFA;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 40%;
}

#right {
    background-color: #FFFAFA;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 40%;
}
footer {
    background-color:#000;
    border: 1px black solid;
    padding: 20px;
}
div / section {
    background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}






