@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
text-align: center;
font-family: 'Helvetica', sans-serif;
font-weight: regular;
font-size: 14px;
line-height: 1.8;
color: #000000;
}
h1 {
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: 48px;
text-decoration: underline;
}
h2 {
text-align: center;
font-family: 'Helvetica', sans-serif;
font-weight: regular;
font-size: 16px;
color: #000000;
}
a {
    color: hotpink;
    font-weight: bold;
}
a:link {
    text-decoration: none;
}

